<h1>Update a Song</h1>
<form action="/songs/<%= @song.slug %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <h3>Name: <input type="text" name="Name" placeholder="<%= @song.name %>"></h3>
  <h3>Choose an existing artist:</h3>
  <% Artist.all.each do |artist| %>
    <input type="radio" name="artist_id" id="<%= artist.id %>" value="<%= artist.id %>"<%= 'checked' if @song.artist == artist %>><%= artist.name %><br></input>
  <% end %>
  <br></br>

  <h3>or create a new artist: </h3>



</form>
